@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var person = await UserManager.FindByNameAsync(User.Identity.Name);

    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" title="User menu" data-toggle="dropdown">
            <figure class="avatar avatar-sm">
                <img src="~/media/image/user/man_avatar3.jpg"
                     class="rounded-circle"
                     alt="avatar">
            </figure>
            <span class="ml-2 d-sm-inline d-none">@person.FullName</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
            <div class="text-center py-4">
                <figure class="avatar avatar-lg mb-3 border-0">
                    <img src="~/media/image/user/man_avatar3.jpg"
                         class="rounded-circle" alt="image">
                </figure>
                <h5 class="text-center">@person.FullName</h5>
                <div class="mb-3 small text-center text-muted">@person.Email</div>
                <a class="btn btn-outline-light btn-rounded" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Your Account</a>
            </div>
            <div class="list-group">
                @*<a href="profile.html" class="list-group-item">View Profile</a>*@

                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="list-group-item text-danger">Sign Out!</span></a>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
            </div>
        </div>
    </li>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">Login</a> <span>/</span>
    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
}


@*<ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var person = await UserManager.FindByNameAsync(User.Identity.Name);

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @person.FullName!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>*@