@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gogi - Admin and Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/css/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/css/app.min.css" type="text/css">
</head>
<body class="form-membership">

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <img src="~/media/image/dark-logo.png" alt="image">
        </div>
        <!-- ./ logo -->


        <h5>Sign in</h5>

        <!-- form -->
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
        <hr>
        <p class="text-muted">Demo User Accounts</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <form id="account" method="post">
                    <button type="submit" name="demoEmail" value="DemoAdminEmail" class="btn btn-floating btn-twitter mr-3" data-toggle="tooltip" data-placement="bottom" title="Administrator">
                        <i class="fas fa-chess-king"></i>
                    </button>
                    <button type="submit" name="demoEmail" value="DemoPMEmail" class="btn btn-floating btn-behance mr-3" data-toggle="tooltip" data-placement="bottom" title="Project Manager">
                        <i class="fas fa-chess-bishop"></i>
                    </button>
                    <button type="submit" name="demoEmail" value="DemoDevEmail" class="btn btn-floating btn-dribbble mr-3" data-toggle="tooltip" data-placement="bottom" title="Developer">
                        <i class="fas fa-chess-knight"></i>
                    </button>
                    <button type="submit" name="demoEmail" value="DemoSubEmail" class="btn btn-floating btn-linkedin" data-toggle="tooltip" data-placement="bottom" title="Submitter">
                        <i class="fas fa-chess-rook"></i>
                    </button>
                </form>
            </li>
        </ul>
        <hr>
        <p class="text-muted">Need another confirmation?</p>
        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-outline-light btn-sm">Resend email confirmation</a>

        <br />

        <p class="text-muted">Don't have an account?</p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-light btn-sm">Register now!</a>

        <!-- ./ form -->
    </div>

    <!-- Plugin scripts -->
    <script src="~/js/bundle.js"></script>

    <!-- App scripts -->
    <script src="~/js/app.min.js"></script>

    <!--Font Awesome-->
    <script src="//kit.fontawesome.com/53a6117d50.js" crossorigin="anonymous"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




@*        <p class="text-muted">Login with your social media account.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-instagram">
                    <i class="fa fa-github-alt"></i>
                </a>
            </li>
        </ul>
        <hr>
    
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@


