@using BugTracker.Services

@inject IBTProjectService projectService
@model BugTracker.Models.Project


@{
    ViewData["Title"] = "Details";
    var test = projectService.UsersOnProjectAsync(Model.Id);
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class="col-sm-2">
            Team Members
        </dt>
        <dd class="col-sm-10">
            @foreach (var user in Model.Members)
            {
                <p>@user.FullName</p>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>








@*@foreach (var user in await test)
    {
        <p>@user.FullName</p>
    }




    <div class="container">
        <h1>Project Management</h1>
        <form asp-action="ManageUsersOnProjects" method="post">
            <div class="row">
                <div class="col">
                    <label for="userIds" class="control-label">Choose a Project</label>
                    <select name="projectId" style="width: 100%" asp-items="@ViewBag.ProjectId"></select>
                </div>
                <div class="col">
                    <label for="roleName" class="control-label">Choose One Project Manager</label><br />
                    <select name="projectManagerId" asp-items="@ViewBag.ProjectManagerId"></select>
                </div>
            </div> <br />
            <div class="row">
                <div class="col">
                    <label for="userIds" class="control-label">Choose Some Developers</label>
                    <select name="developerIds" style="width: 100%" multiple="multiple" asp-items="@ViewBag.DeveloperIds"></select>
                </div>
                <div class="col">
                    <label for="roleName" class="control-label">Choose Some Submitters</label><br />
                    <select name="submitterIds" multiple="multiple" asp-items="@ViewBag.SubmitterIds"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-danger btn-lg mt-3">Save Changes</button>
                </div>
            </div>
        </form>
    </div>*@


